<!DOCTYPE html>
<html>
	<head>
		<title>Neoticket</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
            body {
                background-color: #202020;
				position: absolute;
				width: 100%;
				padding: 0%;
				margin: 0%;
				text-align: center;
            }
			h1 {
				font-family: Arial, sans-serif;
				font-size: 300%;
				width: 100%;
				color: #f4edff;
				display: inline-block;
				margin: 0%;
				padding: 0%;
				letter-spacing: 9pt;
			}
			p {
				text-align: Center;
				padding-top: 10%;
			}
			a {
				font-family: Helvetica, sans-serif;
				font-size: 200%;
				text-align: Left;
				color: #c6b3ff;
				text-decoration: none;
				letter-spacing: 10pt;
			}
		</style>
	</head>
	<body>
		<h1>NEOTICKET</h1>
		<p><a href="https://www.instagram.com/j.davideo12/">INFO</a></p>
	</body>
</html>